blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.8.1
numpy==1.26.4
psycopg2==2.9.9
python-dotenv==1.0.1
regex==2024.5.15
tqdm==4.66.4
Werkzeug==3.0.3
pandas~=2.2.2