:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

textarea {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 95%;
  field-sizing: content;
}

#general {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}

#box-table {
  margin-top: 2rem;
  overflow-x: auto;
  width: 100%;
}

.side {
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #213547;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10px;
  text-wrap: pretty;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table th {
  background-color: transparent;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #213547;
}

table tr:hover {
  background-color: #213547;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* hidden scrollbar */
*::-webkit-scrollbar {
  display: none;
}